@font-face {
  font-family: 'Main font';
  src: url("./Sansita-Regular.otf"); }

.App {
  margin: 0;
  padding: 0;
  font-family: 'Sansita';
  color: #555;
  font-size: 15px; }
  .App .Header .TopNavbar .navbar {
    margin-bottom: 0px; }
  .App .Header .SecondNavbar .navbar {
    background-image: linear-gradient(to bottom, #fff 0%, #fff 100%); }
  .App .SongList {
    position: relative;
    width: 60%;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 15px;
    margin: 3px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075); }
    .App .SongList .SongItem:after {
      content: '';
      display: block;
      clear: both; }
    .App .SongList .SongItem {
      border: 1px solid #eee;
      border-radius: 3px;
      margin: 3px 0px;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075); }
      .App .SongList .SongItem a {
        text-decoration: none;
        color: #333; }
      .App .SongList .SongItem a:hover {
        text-decoration: none;
        color: #337ab7; }
      .App .SongList .SongItem ul {
        position: relative;
        width: 90%;
        padding: 3px;
        float: left;
        list-style-type: none;
        margin: 3px 0px; }
      .App .SongList .SongItem ul li {
        display: inline-block;
        padding: 6px;
        margin: 3px 3px; }
      .App .SongList .SongItem .Name {
        font-size: 16px;
        color: #333; }
      .App .SongList .SongItem .Artist {
        font-size: 13px;
        color: #999; }
      .App .SongList .SongItem .IsOfficial {
        background-color: #337ab7;
        color: #eee;
        border: 0.2px solid #ddd;
        border-radius: 5px; }
        .App .SongList .SongItem .IsOfficial span {
          padding: 1px; }
      .App .SongList .SongItem .Quality {
        color: #eee;
        background-color: #eaa037;
        border: 0.2px solid #ccc;
        border-radius: 5px; }
        .App .SongList .SongItem .Quality span {
          padding: 1px; }
      .App .SongList .SongItem .Listened {
        float: right; }
      .App .SongList .SongItem .Play {
        float: right; }
      .App .SongList .SongItem .AddToFavourite {
        float: right; }
      .App .SongList .SongItem .NewWindow {
        float: right; }
      .App .SongList .SongItem .Name:hover {
        color: #337ab7;
        cursor: pointer; }
      .App .SongList .SongItem .Artist:hover {
        cursor: pointer;
        color: #337ab7; }
      .App .SongList .SongItem .IsOfficial:hover {
        cursor: pointer; }
      .App .SongList .SongItem .Quality:hover {
        cursor: pointer; }
      .App .SongList .SongItem .Listened:hover {
        cursor: pointer; }
      .App .SongList .SongItem .Play:hover {
        cursor: pointer;
        color: #337ab7; }
      .App .SongList .SongItem .AddToFavourite:hover {
        cursor: pointer;
        color: #337ab7; }
      .App .SongList .SongItem .NewWindow:hover {
        cursor: pointer;
        color: #337ab7; }
